@import url('https://elegant-ui.netlify.app/style.css');
   
.card-prod {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;  
    flex-wrap: wrap;
    width: 100%;
}
.card {
    width : 289px;
    height : auto;
    /* border: 0.1rem solid #333; */
    margin: 1.8rem;
    /* background-color: pink; */
    /* padding: 1rem; */
}
.card-img {
    position: relative;
}
.card-img img {
    width: 100%;
    height: 329;
}
.card-img .wish {
    position: absolute;
    top: 2rem;
    right: 2rem;
    /* display: none; */
}
.card-body {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    padding: 0.5rem 0 ;
    align-items: center;
    /* background-color: red; */
}
.card-body p {
    margin-block-start: 0;
    margin-block-end: 0;
    font-size: 1.4rem;
}

.hiOut {
    width: 20px;
    height: 20px;
}
.no-border, .wish {
    border: none;
    background-color: transparent;
}
.products {
    background-color: #eeeeee;
}
.img-border {
    border: 1px solid #333;
}
.link {
    font-size: 1.5rem;
}