.main {
  background-color: rgb(238, 238, 238);
}
.flex {
  display: flex;
  height: 91vh;
  width: 100%;
}

.leftSide {
  flex-basis: 60%;
}
.rightSide {
  flex-basis: 40%;
}
.leftSide {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.img {
  display: block;
  /* width: 61%; */
  width: 370px;
  margin: auto;
}
.subImg {
  margin: 0.2rem;
  width: 4.5rem;
  height: 4.5rem;
}
.rightSide {
  position: relative;
}
.btn {
  width: 41%;
  text-align: center;
  padding: 0.5rem;
  background-color: #000;
  color: #fff;
  border: 0.1rem solid #000;
  font-size: 1rem;
  font-weight: 470;
  margin-top: 0.7rem;
  transition: 0.2s;
}
.btn:hover {
  background-color: #fff;
  color: #000;
  border: 0.1rem solid #000;
}
.icon {
  font-size: 1.4rem;
  margin-left: 1rem;
}
