* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  max-width: 100vw;
  margin: 0 auto;
}
.carousel {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.image {
  width: 100%;
  height: 95vh;
}
.nav {
  padding: 0.5rem;
  background-color: #000;
  transition: 0.2s;
}
.nav:hover {
  background-color: rgb(34, 33, 33);
}
.navRight {
  position: absolute;
  top: 45%;
  color: aliceblue;
  right: 2rem;
  font-size: 1.5rem;
  border: none;
}
.navLeft {
  position: absolute;
  top: 45%;
  color: aliceblue;
  left: 2rem;
  font-size: 1.5rem;
  border: none;
}
.hide {
  display: none;
}
.absolute {
  position: absolute;
  top: 35%;
  left: 8%;
  color: rgb(220, 147, 30);
  font-weight: 300;
  font-size: 3rem;
}

@media (max-width: 768px) {
  .image {
    width: 100%;
    height: 50vh;
  }
  .absolute {
    font-size: 2rem;
    top: 33%;
    left: 6%;
    font-weight: 400;
  }
}
@media (max-width: 480px) {
  .image {
    width: 100%;
    height: 35vh;
  }
  .absolute {
    font-size: 1.5rem;
    top: 31%;
    left: 2%;
    font-weight: 450;
  }
  .navLeft {
    left: 1rem;
  }
  .navRight {
    right: 1rem;
  }
}
