/* /* .App {
    display: flex;
    flex-direction: row;
    /* justify-content: space-evenly ; */
    /* flex-wrap: wrap; */
    /* width: 100vw; */
/* }  */

/* .App .routes{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
} */